{% extends 'adminpagesbase.html.twig' %}
{% block pageContainer %}
{#{% set nbvalide = update_logs_service.getCountUpdatesForOneUser( )  %}#}
<div class="myrow">
    <div class="contenu_fieldset" style="display: block;">
        <h2 class="panleHead">
            <span>| &nbsp; </span>Les demandes de modification</h2>
        <div class="panlecontainer">
            <div class="panleContainerHead">
                <div class="clearfix col-lg-6 updateinfo">
                    {#<a class="btn btn-default btn-xs" href="{{ path('admin_users', {'userType': 'assmat' }) }}">#}
                    {#<i class=" fa fa-list" data-toggle="tooltip" data-placement="top" title="Afficher la liste"></i>#}
                    {#</a>#}
                    <a class="btn btn-default btn-xs" href="{{ app.request.headers.get('referer') }}">
                        <i class=" fa fa-list" data-toggle="tooltip" data-placement="top" title="Afficher la liste"></i>
                    </a>
                    {#<a class="btn btn-success btn-xs" href="{{ path('Admin_Logs_new') }}"> <i class=" fa fa-upload "></i>Les demandes de modification .</a>#}
                </div>
                <div class="UploadsStati">
                    <p class="label"> <i title="Nomdres des modification valide" data-toggle="tooltip" class="fa fa-circle grean"></i>{{ stat.nbvalide }}</p>
                    <p class="label"> <i title="Nomdres des modification non valide " data-toggle="tooltip" class="fa fa-circle-thin read"></i>{{ stat.nbnonvalide }}</p>
                    <p class="label"> <i title="Nomdres des modification échoué" data-toggle="tooltip" class="fa fa-close read"></i>{{ stat.nberror }}</p>
                </div>
            </div>
            <div class="panlecontainer">
                <table id="update_logs_table"  class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            {#<th>Id</th>#}
                            <th>id</th>
                            {#<th>Tablename</th>#}
                            <th>Attribut</th>
                            <th>Valeur</th>
                            <th>Date</th>
                            <th>Commentaire</th>
                            <th>Statut</th>
                            {#<th>Userid</th>#}
                            {#<th>Usertype</th>#}
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for update_log in update_logs %}
                        <tr>
                            {#<td><a href="{{ path('Admin_Logs_show', { 'id': update_log.id }) }}">{{ update_log.id }}</a></td>#}
                            <td>{{ update_log.userGwId }}</td>
                            {#<td>{{ update_log.tableName }}</td>#}
                            <td>{{ update_log.champName }}</td>
                            <td>{{ update_log.value }}</td>
                            <td>{{ update_log.insertDate|date("y/m/d") }}</td>
                            <td><span data-toggle="tooltip" data-placement="top" title="{{ update_log.commante }}" >{{ update_log.commante| truncate(20, false) }} </span></td>
                            <td><i title="{{ update_log.statu }}" data-toggle="tooltip" class="fa {{  update_log.statu == 'valide' ? ' fa-circle grean' : update_log.statu == 'error' ? 'fa-close read' :' fa-circle-thin read' }}"> </i></td>
                            {#<td>{{ update_log.UserId }}</td>#}
                            {#<td>{{ update_log.UserType }}</td>#}
                            <td>
                                <a href="{{ path('Admin_Logs_show', { 'id': update_log.id }) }}">
                                    <span class="fa-stack fa-lg" data-toggle="tooltip" data-placement="top" title="Afficher">
                                        <i class="fa fa-square-o fa-stack-2x"></i>
                                        <i class="fa fa-eye fa-stack-1x"></i>
                                    </span>
                                </a>
                                <a href="{{ path('Admin_Logs_edit', { 'id': update_log.id }) }}">
                                    <span class="fa-stack fa-lg" data-toggle="tooltip" data-placement="top" title="Modifier ">
                                        <i class="fa fa-square-o fa-stack-2x"></i>
                                        <i class="fa fa-edit fa-stack-1x"></i>
                                    </span>
                                </a>
                                {% if update_log.statu !='valide' %}
                                    <a href="{{ path('Admin_Logs_valide', { 'id': update_log.id }) }}">
                                        <span class="fa-stack fa-lg" data-toggle="tooltip" data-placement="top" title="Valider ">
                                            <i class="fa fa-square-o fa-stack-2x"></i>
                                            <i class="fa fa-check fa-stack-1x"></i>
                                        </span>
                                    </a>
                                {% endif %}
                                <a href="{{ path('Admin_Logs_delete', { 'id': update_log.id }) }}" class="deleteupdatelogclass">
                                    <span class="fa-stack fa-lg" data-toggle="tooltip" data-placement="top" title="Supprimer ">
                                        <i class="fa fa-square-o fa-stack-2x"></i>
                                        <i class="fa fa-close fa-stack-1x"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
