{% extends 'assmatpagesbase.html.twig' %}
{% set rout =  app.request.attributes.get('_route') %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/fullcalendar.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/qtip.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}" />
{% endblock %}
{% block pageContainer %}
    <div class="myrow">
        <div class="contenu_fieldset" style="display: block;">
            <h2 class="panleHead">
                <span>| &nbsp; </span>Calendrier des temps collectifs</h2>
            <div class="panlecontainer" >
                <div class="panleContainerHead">
                    <div class="clearfix col-lg-6 updateinfo">
                        <a class="btn btn-default btn-xs"
                           href="{{ path('assmat_agenda') }}">
                            <i class=" fa fa-calendar" data-toggle="tooltip" data-placement="top" title="Afficher tout l'agenda"></i>
                        </a>
                        <a class="btn btn-primary btn-xs" href="{{ path('assmat_valid_agenda' ) }}" data-toggle="tooltip"
                           data-placement="top" title="les événements disponible pour vous.">
                            <i class=" fa fa-calendar-check-o"></i>
                            Afficher les Événements valide
                        </a>
                    </div>
                </div>
                <div id="calendar"></div>
            </div>
            <div class="agendacolors col-lg-6 col-md-6 col-sm-12">
                <div class="bg-primary text-white" style="color: #fff;background: #5fb3f0;padding-left: 6px" >Nouveau événement au quel vous étiez inscrit.</div>
                <div class="bg-success text-white"style="color: #fff;background: #09c909;padding-left: 6px">Nouveau événement au quel vous n'êtes pas inscrit</div>
                {% if (  rout != "assmat_valid_agenda" )%}
                    <div class="bg-info text-white"style="color: #fff;background: #6995b5;padding-left: 6px" >Ancien évènement au quel vous étiez inscrit.</div>
                    <div class="bg-info text-white"style="color: #fff;background: #777;padding-left: 6px" >Événement terminé au quel vous n'étiez pas inscrit.</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/fullcalendar.js') }}"></script>
    <script src="{{ asset('js/agendaLocal_fr.js') }}"></script>
    <script src="{{ asset('js/qtip.min.js') }}"></script>
    <script>
        "use strict";
        $(document).ready(function() {
            $('#calendar').fullCalendar( {
                lang:'fr',
                weekNumbers: true,
                displayEventTime: false,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                events: [
                    {% for ev in evs %}
                        {
                            id : '{{ ev.id }}' ,
                            title : '{{ ev.title }}',
                            start : '{{ ev.startDatetime|date("Y-m-d h:m:s") }}',
                            {#end : '{{ ev.endDatetime|date_modify("+4 H")|date("Y-m-d h:m:s") }}',#}
                            HDeb : '{{ ev.HDeb }}',
                            HFin : '{{ ev.HFin }}',
                            url2: '{{ ev.url }}',
                            isUsed : '{{ ev.isUsed  }}',
                            backgroundColor : '{{ ev.bgColor }}',
                            isAllowSingForChild : '{{ ev.isAllowSingForChild }}',
                        },
                    {% endfor %}
                ],
                //Click Event
                eventClick: function(calEvent, jsEvent, view) {
                    $(this).css('background-color', '#6aa9c7');
                },
                //ToolTip Event
                eventRender: function(event, element) {
                    var urlo = "";
                    if ( event.isUsed == false){
                        if(event.start < new Date()){
                            urlo = '<span class="label label-default" style="font-size: 10px">Événement terminé</span>';
                        }else{
                            if(event.url2 === "null")
                                urlo = '<span class="label label-danger" style="font-size: 10px ;">Aucune places desponible </span><br>';//Nombre des places est null
                            else{
                                if( event.url2 == false)
                                    urlo = '';
                                else{
                                    urlo = '<a href="'+ event.url2 +'" class="btn btn-success btn-xs btn-sinscrireparent"> S\'inscrire </a>' ;
                                    if( event.isAllowSingForChild )
                                        urlo +='&nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-danger btn-xs" data-hdebu="'+ event.HDeb +'" data-hfin="'+ event.HFin +'" ' +
                                            'data-tmpinfo="'+ event.title +'"' +
                                            'data-todo="sinInForChilds" data-tcid="'+event.id+'" '+
                                            'data-toggle="modal" data-target="#modal_update_enfam"> Inscrire avec enfants </a>';
                                }
                            }
                        }
                    }else{
                        urlo += '<span class="label label-info" style="font-size: 10px">Déjà inscrit</span>';
                        if(event.start >= new Date() && event.isAllowSingForChild){
                            urlo +='&nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-danger btn-xs" data-hdebu="'+ event.HDeb +'" data-hfin="'+ event.HFin +'" ' +
                                'data-tmpinfo="'+ event.title +'"' +
                                'data-todo="sinInForChilds" data-tcid="'+event.id+'" '+
                                'data-toggle="modal" data-target="#modal_update_enfam"> Inscrire avec enfants </a>';
                        }
                    }
                    element.qtip({
                        content:{
                            title: { text: event.title },
                            text: '<span class="title">Début : </span>' + ( ( event.HDeb.length > 6 )? event.HDeb.substr(10, 6) :event.HDeb ) +
                            '<br><span class="title">Fin : </span>' + ( ( event.HFin.length > 6 )? event.HFin.substr(10, 6) :  event.HFin )+
                            '<br>' + '<br>' + urlo //<span class="title">Description: . </span>'+ //+ event.description
                        },
                        show: { solo: true },
                        hide: { when: 'inactive', delay: 1000 ,fixed: true },
                        style: {
                            width: 'auto',
                            padding: 5,
                            color: 'black',
                            textAlign: 'left',
                            border: {
                                width: 1,
                                radius: 3
                            },
                            tip: 'topLeft',
                            classes: {
                                tooltip: 'ui-widget',
                                tip: 'ui-widget',
                                title: 'ui-widget-header',
                                content: 'ui-widget-content'
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}