{% extends 'assmatpagesbase.html.twig' %}
{% block pageContainer %}
    <div class="myrow">
        <div class="contenu_fieldset" style="display: block;">
            <h2 class="panleHead">
                <span>| &nbsp; </span>
                Agréments
            </h2>
            <div class="panlecontainer">
                <table id="AgrementTable_id"  class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Num</th>
                        <th>Nom</th>
                        <th>Définition</th>
                        <th>Statuts</th>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                        <th>Disponible</th>
                        <th style="width: 65px;">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for agr in Agrements %}
                            <tr>
                                <th scope="row">{{ agr.num }}</th>
                                <td>{{ agr.nom != null ? agr.nom.nom : " "}}</td>
                                <td>{{ agr.definition != null ? agr.definition.nom : " "}}</td>
                                <td>{{ agr.statut != null ? agr.statut.nom : " "}}</td>
                                <td>{{ agr.datedebut|date('d/m/Y') }}</td>
                                <td>{{ agr.datefin|date('d/m/Y') }}</td>
                                <td> <i class=" fa {{ agr.disponible? 'fa-circle grean':'fa-circle-thin read' }}  "> </i></td>
                                <td>
                                    {% if ( parameters.1.allowUpdate) %}
                                        <a href="{{ path('edit_agrement' ,{ 'id' : agr.id} ) }}" class="btnactions">
                                            <span class="fa-stack fa-lg" data-toggle="tooltip" data-placement="top" title="Modifier" >
                                                <i class="fa fa-square-o fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-14"></i>
                                            </span>
                                        </a>
                                    {% endif %}
                                    <a href="{{ path('show_agrement' ,{ 'id' : agr.id} ) }}" class="btnactions">
                                        <span class="fa-stack fa-lg" data-toggle="tooltip" data-placement="top" title="Afficher" >
                                            <i class="fa fa-square-o fa-stack-2x"></i>
                                            <i class="fa fa-eye fa-stack-1x fa-14"></i>
                                        </span>
                                    </a>
                                    {% if ( parameters.1.allowDelete) %}
                                        <a href="#" class="btnactions">
                                            <span class="fa-stack fa-lg" data-toggle="tooltip" data-placement="top" title="Supprimer">
                                                <i class="fa fa-square-o fa-stack-2x"></i>
                                                <i class="fa fa-trash-o fa-stack-1x"></i>
                                            </span>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}