{% extends 'pagesbase.html.twig' %}
{% block pageContainer %}
    <div class="myrow">
		<div class="contenu_fieldset" style="display: block;">
			<h2 class="panleHead">
			    <span>| &nbsp; </span>
				informations de la famille
		    </h2>
	    </div>
		<div class="panlecontainer">
    		{% if parameters.1.dispaly %}
				<div class="panlecontainer">
					<div class="panleContainerHead paneleFiche">
						<div class="clearfix col-lg-6 updateinfo">
							<h2 >
								RESPONSABLE 1 <small style="color:#fff;">[ {{ Resp1.Nom }} {{ Resp1.Prenom }} ]</small>
							</h2>
							{% if parameters.1.allowUpdate %}
								<a class="btn btn-primary btn-xs" href=" {{ path('editResp1' , {'id' : Resp1.id }) }}">
									<i class=" fa fa-pencil-square-o"></i> Modifier
								</a>
							{% endif %}
						</div>
					</div>
					<div class="table-responsive">
						<table class="table table-condensed table-responsive table-user-information">
							<tbody>
							<tr>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Civilité :
									</strong>
								</td>
								<td class="text-primary">
									<span> {{ parent_generator.getCivilites(Resp1.civilite) }} </span>
								</td>
								<td>
								</td>
								<td class="text-primary">
								</td>
							</tr>
							<tr>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Nom :
									</strong>
								</td>
								<td class="text-primary">
									<span> {{ Resp1.Nom }} </span>
								</td>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Prénom :
									</strong>
								</td>
								<td class="text-primary">
									<span>{{ Resp1.Prenom }}</span>
								</td>
							</tr>
							<tr>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Code postal :
									</strong>
								</td>
								<td class="text-primary">
									<span> {{ Resp1.cp }} </span>
								</td>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Numéro de rue :
									</strong>
								</td>
								<td class="text-primary">
									<span>{{ Resp1.numRue }}</span>
								</td>
							</tr>
							<tr>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Rue 1 :
									</strong>
								</td>
								<td class="text-primary">
									<span> {{ Resp1.rue1 }} </span>
								</td>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Rue 2 :
									</strong>
								</td>
								<td class="text-primary">
									<span>{{ Resp1.rue2 }}</span>
								</td>
							</tr>
							<tr>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Ville :
									</strong>
								</td>
								<td class="text-primary">
									<span> {{ Resp1.ville }} </span>
								</td>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Quartier :
									</strong>
								</td>
								<td class="text-primary">
									<span>{{ Resp1.quartier }}</span>
								</td>
							</tr>
							<tr>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Secteur :
									</strong>
								</td>
								<td class="text-primary">
									<span> {{ (Resp1.secteur != null) ? Resp1.secteur.titre : '.'  }}</span>
								</td>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Rivoli/Fantor :
									</strong>
								</td>
								<td class="text-primary">
									<span>{{ Resp1.rivoli }}</span>
								</td>
							</tr>
							<tr>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Téléphone Perso :
									</strong>
								</td>
								<td class="text-primary">
									<span> {{ Resp1.telPerso }} </span>
								</td>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Téléphone Pro :
									</strong>
								</td>
								<td class="text-primary">
									<span>{{ Resp1.telPro }}</span>
								</td>
							</tr>
							<tr>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Adresse mail :
									</strong>
								</td>
								<td class="text-primary">
									<span> {{ Resp1.adresseMail }} </span>
								</td>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Adresse mail Pro :
									</strong>
								</td>
								<td class="text-primary">
									<span>{{ Resp1.adresseMailPro }}</span>
								</td>
							</tr>
							<tr>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Portable :
									</strong>
								</td>
								<td class="text-primary">
									<span> {{ Resp1.portable }} </span>
								</td>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Fax :
									</strong>
								</td>
								<td class="text-primary">
									<span>{{ Resp1.fax }}</span>
								</td>
							</tr>
							<tr>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Profession :
									</strong>
								</td>
								<td class="text-primary">
									<span> {{ Resp1.profession != null ? Resp1.profession.nom : ' '}} </span>
								</td>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Lieu de travail :
									</strong>
								</td>
								<td class="text-primary">
									<span>{{ (Resp1.lieutravail != null) ? Resp1.lieutravail.nom : '.'  }}</span>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
    		{% endif %}
    		{% if parameters.2.dispaly %}
				<div class="panlecontainer">
					<div class="panleContainerHead paneleFiche">
						<div class="clearfix col-lg-6 updateinfo">
							<h2 >
								RESPONSABLE 2 <small style="color:#fff;">[ {{ Resp2.Nom }} {{ Resp2.Prenom }} ]</small>
							</h2>
							{% if parameters.2.allowUpdate %}
								<a class="btn btn-primary btn-xs" href=" {{ path('editResp2' , {'id' : Resp2.id }) }}">
									<i class=" fa fa-pencil-square-o"></i> Modifier
								</a>
							{% endif %}
						</div>
					</div>
					<div class="table-responsive">
						<table class="table table-condensed table-responsive table-user-information">
							<tbody>
							<tr>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Civilité :
									</strong>
								</td>
								<td class="text-primary">
									<span> {{ parent_generator.getCivilites(Resp2.civilite) }} </span>
								</td>
								<td>
								</td>
								<td class="text-primary">
								</td>
							</tr>
							<tr>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Nom :
									</strong>
								</td>
								<td class="text-primary">
									<span> {{ Resp2.Nom }} </span>
								</td>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Prénom :
									</strong>
								</td>
								<td class="text-primary">
									<span>{{ Resp2.Prenom }}</span>
								</td>
							</tr>
							<tr>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Code postal :
									</strong>
								</td>
								<td class="text-primary">
									<span> {{ Resp2.cp }} </span>
								</td>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Numéro de rue :
									</strong>
								</td>
								<td class="text-primary">
									<span>{{ Resp2.numRue }}</span>
								</td>
							</tr>
							<tr>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Rue 1 :
									</strong>
								</td>
								<td class="text-primary">
									<span> {{ Resp2.rue1 }} </span>
								</td>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Rue 2 :
									</strong>
								</td>
								<td class="text-primary">
									<span>{{ Resp2.rue2 }}</span>
								</td>
							</tr>
							<tr>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Ville :
									</strong>
								</td>
								<td class="text-primary">
									<span> {{ Resp2.ville }} </span>
								</td>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Quartier :
									</strong>
								</td>
								<td class="text-primary">
									<span>{{ Resp2.quartier }}</span>
								</td>
							</tr>
							<tr>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Secteur :
									</strong>
								</td>
								<td class="text-primary">
									<span> {{ (Resp2.secteur != null) ? Resp2.secteur.titre : '.'  }}</span>
								</td>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Rivoli/Fantor :
									</strong>
								</td>
								<td class="text-primary">
									<span>{{ Resp2.rivoli }}</span>
								</td>
							</tr>
							<tr>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Téléphone Perso :
									</strong>
								</td>
								<td class="text-primary">
									<span> {{ Resp2.telPerso }} </span>
								</td>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Téléphone Pro :
									</strong>
								</td>
								<td class="text-primary">
									<span>{{ Resp2.telPro }}</span>
								</td>
							</tr>
							<tr>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Adresse mail :
									</strong>
								</td>
								<td class="text-primary">
									<span> {{ Resp2.adresseMail }} </span>
								</td>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Adresse mail Pro :
									</strong>
								</td>
								<td class="text-primary">
									<span>{{ Resp2.adresseMailPro }}</span>
								</td>
							</tr>
							<tr>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Portable :
									</strong>
								</td>
								<td class="text-primary">
									<span> {{ Resp2.portable }} </span>
								</td>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Fax :
									</strong>
								</td>
								<td class="text-primary">
									<span>{{ Resp2.fax }}</span>
								</td>
							</tr>
							<tr>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Profession :
									</strong>
								</td>
								<td class="text-primary">
									<span> {{ Resp2.profession != null ? Resp2.profession.nom : ' '}} </span>
								</td>
								<td>
									<strong>
										<span class="fa fa-caret-right  text-primary"></span>
										Lieu de travail :
									</strong>
								</td>
								<td class="text-primary">
									<span>{{ (Resp2.lieutravail != null) ? Resp2.lieutravail.nom : '.'  }}</span>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
            {% endif %}
    		{% if parameters.3.dispaly %}
				<div class="panlecontainer">
				<div class="panleContainerHead paneleFiche">
					<div class="clearfix col-lg-6 updateinfo">
						<h2 >
							INFORMATIONS DES ENFANTS
						</h2>
                        {#<a class="btn btn-primary btn-xs"> <i class=" fa fa-plus"></i> Ajouter </a>#}
					</div>
				</div>
				<table id="table_id"  class="table table-striped table-hover">
					<thead>
					<tr>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Age</th>
                        {#<th>Lieu de scolarisation</th> #}
						<th>date de debut d'accueil souhaité</th>
						<th>Actions</th>
					</tr>
					</thead>
					<tbody>
                    {% for enfant in Enfants %}
						<tr>
							<th scope="row">{{ enfant.nom }}</th>
							<td>{{ enfant.prenom }}</td>
							<td>{{ 'now'|date('Y') - enfant.dateNaissance|date('Y') + ('now'|date('2017-m-d')|date('U') - enfant.dateNaissance|date('2017-m-d')|date('U') >= 0 ? 1 : 0 ) }}</td>
                            {#<td> #}{#{{  Enfants.lieuscolarisation.lieuscolarisation }}#}{#</td>#}
							<td>{{ enfant.dateDebutAccueilSouhaite|date("d/m/Y") }}</td>
							<td>
                        		{% if parameters.3.allowUpdate %}
									<a href="{{ path('edit_enfant' , { 'id' : enfant.id}) }}" class="btnactions">
										<span class="fa-stack fa-lg">
											<i class="fa fa-square-o fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x"></i>
										</span>
									</a>
								{% endif %}
								<a href="{{ path('show_enfant' , { 'id' : enfant.id } ) }}" class="btnactions">
									<span class="fa-stack fa-lg">
										<i class="fa fa-square-o fa-stack-2x"></i>
										<i class="fa fa-eye fa-stack-1x"></i>
									</span>
								</a>
							</td>
						</tr>
                    {% endfor %}
					</tbody>
				</table>
			</div>
            {% endif %}
		</div>
    </div>
{% endblock %}